.Main {
    background-color: var(--color-background);
}
.Main h1, .Main h2, .Main p {
    color: var(--color-text);
}
.Main h3 {
    color: var(--color-subtitle);
    font-weight: 800;
}
.BlogItem-title {
    text-align: left;
    border-bottom: 2px solid var(--color-text);
}
.Main .sqs-row:nth-of-type(1) {
    background: var(--color-content);
    margin-top: 0.75em;
}
.Main p {
    font-size: 1.25em;
}