:root {
  --color-black: #000;
  --color-blue: #4A60AC;
  --color-green: #05a27a;
  --color-red: #f16241;
  --color-white: #FFF;
}

.Main-content {
  padding: 0 5% 5%;
  text-rendering: optimizeLegibility;
}

.Main h1,
.Main h2,
.Main h3,
.Main p,
.image-slide-title,
a.sqs-block-button-element--medium,
#sub-nav,
div.image-button-inner a {
  font-family: aktiv-grotesk, sans-serif;
}

.Main h1 {
  color: var(--color-green);
  font-size: 5em;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1em;
}

.Main h2 {
  color: var(--color-blue);
  font-size: 2em;
  font-style: normal;
  font-weight: 800;
  line-height: 1em;
}

.Main h3 {
  color: var(--color-blue);
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
}

.Main p,
.image-slide-title {
  color: var(--color-black);
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25em;
}

#sub-nav {
  background-color: var(--color-green);
  border-bottom: 1px solid var(--color-blue);
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1em;
  width: 100%;
}

#sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

#sub-nav li {
  color: var(--color-white);
  display: inline-block;
  margin: 0;
  padding: 2vw 0.75vw;
  transition: background 1s, color 1s;
  vertical-align: middle;
}

#sub-nav li:hover,
.active li {
  background: var(--color-red);
  color: var(--color-white);
}

/*Color Blocks and Related Styling*/
/*Pg.1-Natural Geographic Range img*/
#block-yui_3_17_2_1_1626458177393_25616,
/**/
#block-yui_3_17_2_1_1626100712324_5699,
/**/
#block-yui_3_17_2_1_1626100712324_7362,
.green-block {
  background: var(--color-green) !important;
}

/**/
#block-yui_3_17_2_1_1626100712324_12943 p,
/**/
#block-yui_3_17_2_1_1626100712324_5699 h3,
/**/
#block-yui_3_17_2_1_1626100712324_5699 p,
/**/
#block-yui_3_17_2_1_1626100712324_7362 p,
/**/
#block-yui_3_17_2_1_1626458177393_13319 h2,
/**/
#block-yui_3_17_2_1_1626458177393_13319 p,
/**/
#block-yui_3_17_2_1_1626706835940_157401 p,
/**/
#block-yui_3_17_2_1_1627418995094_99019 h3 {
  color: var(--color-white) !important;
}

#block-yui_3_17_2_1_1626706835940_157401,
#block-yui_3_17_2_1_1627418995094_99019 {
  background: var(--color-blue) !important;
}

/*Pg.1-Windows into the Past txt*/
#block-yui_3_17_2_1_1625600959990_22164 h2,
/**/
#block-yui_3_17_2_1_1626100712324_23082 h3,
/**/
#block-yui_3_17_2_1_1626706835940_160605 strong,
/*Pg.1-Death Assemblages bold*/
#block-yui_3_17_2_1_1628036045558_93547 strong,
.Main a {
  color: var(--color-red) !important;
}

a.sqs-block-button-element--medium,
div.image-button-inner a {
  background: var(--color-blue) !important;
  border-color: var(--color-green) !important;
  color: var(--color-white) !important;
  font-size: 1em !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.Main em {
  color: var(--color-red);
  font-style: normal;
}
.green-block {
  background: var(--color-green);
  margin: -1vw;
  padding: 1em;
}
.green-block h2, .green-block p, .green-block em {
  color: var(--color-white);
}
.green-block h2 {
  font-weight: 700;
}
.green-block em {
  font-style: italic;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip:hover {
  cursor: help;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 930px) {
  #sub-nav li {
    padding: 15px;
  }
}
