@font-face
{
    font-weight: 300;
    font-style: normal;
    font-family: calluna;
    src: url(https://use.typekit.net/af/bccc98/000000000000000000014868/27/l?subset_id=2&fvd=n3&v=3) format('woff2'),
    url(https://use.typekit.net/af/bccc98/000000000000000000014868/27/d?subset_id=2&fvd=n3&v=3) format('woff'),
    url(https://use.typekit.net/af/bccc98/000000000000000000014868/27/a?subset_id=2&fvd=n3&v=3) format('opentype');
}
@font-face
{
    font-weight: 400;
    font-style: normal;
    font-family: calluna;
    src: url(https://use.typekit.net/af/32f92a/000000000000000000014869/27/l?subset_id=2&fvd=n4&v=3) format('woff2'),
    url(https://use.typekit.net/af/32f92a/000000000000000000014869/27/d?subset_id=2&fvd=n4&v=3) format('woff'),
    url(https://use.typekit.net/af/32f92a/000000000000000000014869/27/a?subset_id=2&fvd=n4&v=3) format('opentype');
}
@font-face
{
    font-weight: 400;
    font-style: italic;
    font-family: calluna;
    src: url(https://use.typekit.net/af/fb816c/00000000000000000001486a/27/l?subset_id=2&fvd=i4&v=3) format('woff2'),
    url(https://use.typekit.net/af/fb816c/00000000000000000001486a/27/d?subset_id=2&fvd=i4&v=3) format('woff'),
    url(https://use.typekit.net/af/fb816c/00000000000000000001486a/27/a?subset_id=2&fvd=i4&v=3) format('opentype');
}
@font-face
{
    font-weight: 600;
    font-style: normal;
    font-family: calluna;
    src: url(https://use.typekit.net/af/370322/00000000000000000001486b/27/l?subset_id=2&fvd=n6&v=3) format('woff2'),
    url(https://use.typekit.net/af/370322/00000000000000000001486b/27/d?subset_id=2&fvd=n6&v=3) format('woff'),
    url(https://use.typekit.net/af/370322/00000000000000000001486b/27/a?subset_id=2&fvd=n6&v=3) format('opentype');
}
@font-face
{
    font-weight: 600;
    font-style: italic;
    font-family: calluna;
    src: url(https://use.typekit.net/af/0d4c7b/00000000000000000001486c/27/l?subset_id=2&fvd=i6&v=3) format('woff2'),
    url(https://use.typekit.net/af/0d4c7b/00000000000000000001486c/27/d?subset_id=2&fvd=i6&v=3) format('woff'),
    url(https://use.typekit.net/af/0d4c7b/00000000000000000001486c/27/a?subset_id=2&fvd=i6&v=3) format('opentype');
}
@font-face
{
    font-weight: 700;
    font-style: normal;
    font-family: calluna;
    src: url(https://use.typekit.net/af/9e56a2/00000000000000000001486d/27/l?subset_id=2&fvd=n7&v=3) format('woff2'),
    url(https://use.typekit.net/af/9e56a2/00000000000000000001486d/27/d?subset_id=2&fvd=n7&v=3) format('woff'),
    url(https://use.typekit.net/af/9e56a2/00000000000000000001486d/27/a?subset_id=2&fvd=n7&v=3) format('opentype');
}
@font-face
{
    font-weight: 700;
    font-style: italic;
    font-family: calluna;
    src: url(https://use.typekit.net/af/c0faa1/00000000000000000001486e/27/l?subset_id=2&fvd=i7&v=3) format('woff2'),
    url(https://use.typekit.net/af/c0faa1/00000000000000000001486e/27/d?subset_id=2&fvd=i7&v=3) format('woff'),
    url(https://use.typekit.net/af/c0faa1/00000000000000000001486e/27/a?subset_id=2&fvd=i7&v=3) format('opentype');
}
@font-face
{
    font-weight: 900;
    font-style: normal;
    font-family: calluna;
    src: url(https://use.typekit.net/af/52a951/00000000000000000001486f/27/l?subset_id=2&fvd=n9&v=3) format('woff2'),
    url(https://use.typekit.net/af/52a951/00000000000000000001486f/27/d?subset_id=2&fvd=n9&v=3) format('woff'),
    url(https://use.typekit.net/af/52a951/00000000000000000001486f/27/a?subset_id=2&fvd=n9&v=3) format('opentype');
}
@font-face
{
    font-weight: 400;
    font-style: normal;
    font-family: din-condensed-web;
    src: url(https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/l?subset_id=2&fvd=n4&v=3) format('woff2'),
    url(https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/d?subset_id=2&fvd=n4&v=3) format('woff'),
    url(https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/a?subset_id=2&fvd=n4&v=3) format('opentype');
}
.Main
{
    background: #121a1c;
}
.Main-content
{
    padding: 0 10% 5%;

    text-rendering: optimizeLegibility;
}
.Main .sqs-block-content a,
.Main .sqs-block-content a:visited,
.Main .sqs-block-content a:active,
.Main .sqs-block-content a:link,
.Main .sqs-block-content a:hover
{
    color: #ce8e40;
    text-decoration: none;
}
.Main-content a.sqs-block-button-element--small.sqs-block-button-element
{
    border: 2px solid rgba(255,255,255,.6);
    color: rgba(255,255,255,.6);
}
.Main-content a.sqs-block-button-element--small.sqs-block-button-element:hover
{
    background: #ce8e40;
    color: white;
}
.Main-content .html-block
{
    background: #121a1c;
    color: rgba(255,255,255,.6);
    letter-spacing: .075em;
    font-family: calluna;
}
.Main p
{
    letter-spacing: .075em;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6em;
}
.Main .image-caption
{
    color: rgba(255,255,255,.7);
    letter-spacing: .075em;
    font-weight: 300;
    font-style: normal;
    font-size: .825em;
    font-family: calluna;
    line-height: 1.68em;
}
.Main hr
{
    margin: 34px 0;
    border-width: 0;
    border-style: none;
    background-color: rgba(255,255,255,.15);
    color: rgba(255,255,255,.15);
}
.html-block h1,
.BlogItem-title
{
    color: white;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-weight: 700;
    font-family: din-condensed-web;
    line-height: 1.15em;
}
.html-block h2
{
    letter-spacing: .02em;
    font-weight: 400;
    font-family: calluna;
    line-height: 1.15em;
}
.summary-title
{
    font-family: calluna;
}
.summary-excerpt
{
    color: rgba(255,255,255,.7);
    font-family: calluna;
}
.video-caption p {
  color: rgba(255,255,255,.6);
  letter-spacing: .075em;
  font-size: 0.9em;
  font-family: calluna;
}
#sub-nav
{
    width: 100%;
    border-bottom: 1px solid #ce8e40;
    color: white;
    letter-spacing: .15em;
    font-weight: 400;
    font-family: din-condensed-web;
    line-height: 1em;
}
#sub-nav ul
{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}
#sub-nav li
{
    display: inline-block;
    padding: 2vw;
    color: rgba(255,255,255,.6);
    vertical-align: middle;
    text-transform: uppercase;
    transition: background 1s, color 1s;
}
#sub-nav li:hover,
.active li
{
    background: #ce8e40;
    color: white;
}
@media screen and (max-width: 930px)
{
    #sub-nav li
    {
        padding: 15px;
    }
}
