@import url('https://use.typekit.net/kfj3gpa.css');
:root {
  --color-one: #2c5462;
  --color-two: #b2d3cc;
  --color-three: #69868f;
  --color-four: #24747c;
  --color-five: #f2cd93;
  --color-six: #fff;
}
.Main
{
  background-color: var(--color-one)!important;
}
.Main-content
{
    padding: 0 10% 5%;
    text-rendering: optimizeLegibility;
}
.Main h1
{
  color: var(--color-five);
  font-family: 'Coustard', serif;
  font-size: 5em;
  font-weight: 400;
}
.Main h2
{
  color: var(--color-five);
  font-family: 'Boogaloo', sans-serif;
  font-size: 3em;
  font-weight: 700;
}
.Main h3, .summary-title
{
  color: var(--color-two);
  font-family: 'Boogaloo', sans-serif;
  font-size: 2em;
  font-weight: 400;
}
.image-title.sqs-dynamic-text p
{
  color: var(--color-six)!important;
  font-family: 'Adelle-Sans', serif!important;
  font-style: normal!important;
  font-weight: 400!important;
}
.Main p, .image-slide-title
{
  color: var(--color-six);
  font-family: 'Adelle-Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.25em;
}
.Main a
{
  color: var(--color-five)!important;
}
div.image-slide-title
{
  color: var(--color-six);
}
.image-subtitle.sqs-dynamic-text p
{
  color: var(--color-six)!important;
  font-family: 'Adelle-Sans', sans-serif!important;
  font-style: normal!important;
  font-weight: 400!important;
}
.image-card-wrapper
{
  background: none!important;
}
div.image-button-inner a, a.sqs-block-button-element--medium
{
  background: var(--color-two)!important;
  border-color: var(--color-four)!important;
  color: var(--color-six)!important;
  font-family: 'Adelle-Sans', sans-serif!important;
  font-size: 1.5em!important;
  font-style: normal!important;
  font-weight: 400!important;
}
#sub-nav
{
    background: var(--color-four);
    border-bottom: 1px solid var(--color-five);
    font-family: 'League-Gothic', sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 1em;
    width: 100%;
}
#sub-nav ul
{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
#sub-nav li
{
    color: var(--color-six);
    display: inline-block;
    padding: 2vw 0.5vw;
    text-transform: uppercase;
    transition: background 1s, color 1s;
    vertical-align: middle;
}
#sub-nav li:hover,
.active li
{
    background: var(--color-two);
    color: var(--color-four);
}
@media screen and (max-width: 930px)
{
    #sub-nav li
    {
        padding: 15px;
    }
}
