.Main, .Intro
{
  background-color: #007080!important;
}
.Main-content
{
    padding: 0 10% 5% 10%;
    text-rendering: optimizeLegibility;
}
.Intro
{

  box-shadow: 0 0.5em 1em #000;
}
.Intro h1
{
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 7em;
  line-height: 0.5em;
}
.Intro h3
{
  font-family: adelle, serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2em;
  line-height: 0.75em;
}
.Main h1
{
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5em;
  color: white;
}
.Main h2
{
  color: #b9c435;
  font-family: adelle, serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2em;
}
.Main h3, .summary-title
{
  color: #b9c435;
  font-family: adelle, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
.image-title.sqs-dynamic-text p
{
  color: #b9c435!important;
  font-family: adelle, serif!important;
  font-weight: 400!important;
  font-style: normal!important;
}
.Main p, .image-slide-title
{
  font-family: adelle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 1.1em;
  line-height: 1.25em;
}
.Main a
{
  color: #b9c435!important;
}
div.image-slide-title
{
  color: white;
}
.image-subtitle.sqs-dynamic-text p
{
  font-family: adelle-sans, sans-serif!important;
  font-weight: 400!important;
  font-style: normal!important;
  color: white!important;
}
.image-card-wrapper
{
  background: none!important;
}
div.image-button-inner a, a.sqs-block-button-element--medium
{
  color: white!important;
  font-size: 1.5em!important;
  font-family: league-gothic, sans-serif!important;
  font-weight: 400!important;
  font-style: normal!important;
  background: #b9c435!important;
  border-color: white!important;
}
#sub-nav
{
    width: 100%;
    border-bottom: 1px solid #b9c435;
    letter-spacing: .2em;
    font-weight: 400;
    font-family: league-gothic, sans-serif;
    line-height: 1em;
}
#sub-nav ul
{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}
#sub-nav li
{
    display: inline-block;
    padding: 2vw 0.5vw;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    transition: background 1s, color 1s;
}
#sub-nav li:hover,
.active li
{
    background: #b9c435;
    color: white;
}
@media screen and (max-width: 930px)
{
    #sub-nav li
    {
        padding: 15px;
    }
}
