.Main, .Intro
{
  background-color: #08d9d6!important;
}
.Main-content
{
    padding: 0 10% 5%;
    text-rendering: optimizeLegibility;
}
.Intro
{
  box-shadow: 0 0.5em 1em #000;
}
.Intro h1
{
  font-family: league-gothic, sans-serif;
  font-size: 7em;
  font-weight: 400;
  line-height: 0.5em;
  text-transform: uppercase;
}
.Intro h3
{
  font-family: adelle, serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 0.75em;
}
.Main h1
{
  color: #eaeaea;
  font-family: league-gothic, sans-serif;
  font-size: 5em;
  font-weight: 400;
  text-transform: uppercase;
}
.Main h2
{
  color: #ff2e63;
  font-family: adelle, serif;
  font-size: 2em;
  font-weight: 700;
}
.Main h3, .summary-title
{
  color: #ff2e63;
  font-family: adelle, serif;
  font-size: 1.5em;
  font-weight: 400;
}
.image-title.sqs-dynamic-text p
{
  color: #ff2e63!important;
  font-family: adelle, serif!important;
  font-style: normal!important;
  font-weight: 400!important;
}
.Main p, .image-slide-title
{
  color: #252a34;
  font-family: adelle-sans, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.25em;
}
.Main a
{
  color: #ff2e63!important;
}
div.image-slide-title
{
  color: #eaeaea;
}
.image-subtitle.sqs-dynamic-text p
{
  color: #eaeaea!important;
  font-family: adelle-sans, sans-serif!important;
  font-style: normal!important;
  font-weight: 400!important;
}
.image-card-wrapper
{
  background: none!important;
}
div.image-button-inner a, a.sqs-block-button-element--medium
{
  background: #ff2e63!important;
  border-color: white!important;
  color: white!important;
  font-family: league-gothic, sans-serif!important;
  font-size: 1.5em!important;
  font-style: normal!important;
  font-weight: 400!important;
}
#sub-nav
{
    border-bottom: 1px solid #ff2e63;
    font-family: league-gothic, sans-serif;
    font-weight: 400;
    letter-spacing: .2em;
    line-height: 1em;
    width: 100%;
}
#sub-nav ul
{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
#sub-nav li
{
    color: #eaeaea;
    display: inline-block;
    padding: 2vw 0.5vw;
    text-transform: uppercase;
    transition: background 1s, color 1s;
    vertical-align: middle;
}
#sub-nav li:hover,
.active li
{
    background: #ff2e63;
    color: #eaeaea;
}
@media screen and (max-width: 930px)
{
    #sub-nav li
    {
        padding: 15px;
    }
}
