:root {
    --color-black: #000;
  --color-charcoal: #231f20;
    --color-orange-dark: #f07827;
    --color-orange-light: #e0a770;
    --color-orange-mid: #fab216;
    --color-white: #fff;
    --font-title: "bee", sans-serif;
    --font-paragraph: "trade-gothic-next", sans-serif;
  }
  /* Exhibit Nav */
  #sub-nav {
    background-color: var(--color-orange-mid);
    border-bottom: 1px solid var(--color-orange-dark);
    font-size: 1em;
    font-weight: 800;
    line-height: 1em;
    width: 100%;
  }
  #sub-nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
  }
  #sub-nav li {
    color: var(--color-white);
    display: inline-block;
    font-family: var(--font-paragraph);
    margin: 0;
    padding: 1.5vw 0.75vw;
    text-transform: uppercase;
    transition: background 1s, color 1s;
    vertical-align: middle;
  }
  #sub-nav li:hover,
  .active li {
    background: var(--color-orange-dark);
    color: var(--color-white);
  }
  /* End Exhibit Nav */
  
  .Main-content {
    background: var(--color-charcoal);
    color: var(--color-white);
    padding: 5% 2% 1% 2%;
    text-rendering: optimizeLegibility;
  }
  .Main h1 {
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: 15em;
    letter-spacing: 0;
    line-height: 0.75em;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .Main h2 {
    color: var(--color-orange-mid);
    font-family: var(--font-paragraph);
    font-size: 2em;
    line-height: 0.75em;
  }
  .Main h3 {
    color: var(--color-black);
    background: var(--color-orange-light);
    font-family: var(--font-paragraph);
    font-size: 1.5em;
    font-weight: bold;
  }
  .Main p {
    font-family: var(--font-paragraph);
    font-weight: 700;
  }
  .Main .image-caption {
    color: var(--color-white);
  }
  .Main p strong {
    color: var(--color-orange-mid);
  }
  .Main .sqs-row:nth-of-type(7), .Main .sqs-row:nth-of-type(10), .Main .sqs-row:nth-of-type(11) {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1em 0;
  }
  .Main .image-caption p {
    color: var(--color-white);
    font-size: 0.75em;
    font-weight: 500;
  }
.Main .image-caption strong {
    color: var(--color-orange-mid);
  }
  .Main .sqs-block-button-element--medium.sqs-button-element--primary.sqs-block-button-element {
    border: 2px solid var(--color-green-dark);
    background: var(--color-green-light);
    color: var(--color-green-dark);
    font-family: var(--font-paragraph);
  }
  .Main .sqs-block-button-element--medium.sqs-button-element--primary.sqs-block-button-element:hover {
    background: var(--color-green-dark);
    color: var(--color-white);
  }
  