:root {
    --color-yellow: #F4BC21;
    --color-green: #38A318;
    --color-blue: #0A7BBA;
    --color-red: #D32727;
    --color-pine: #264E3D;
    --color-white: #fff;
    --font-title: 'BenchNine', sans-serif;
    --font-subheading: 'Pangolin', cursive;
    --font-accents: 'Comforter', cursive;
    --font-paragraph: 'Carrois Gothic', sans-serif;
}
.Main p {
    font-family: var(--font-paragraph);
}
.Main em {
    color: var(--color-pine);
    font-family: var(--font-title);
    font-size: 1.25em;
    padding-right: 0.2em;
}
#SLS-mc_embed_signup label {
    color: var(--color-red);
    font-family: var(--font-subheading);
    font-size: 1.25em;
    font-weight: bold;
}
