:root {
  --color-black: #000;
  --color-green-dark: #29503d;
  --color-green-light: #87b14b;
  --color-orange-mid: #fab216;
  --color-red-mid: #d12828;
  --color-tan: #c7b789;
  --color-white: #fff;
  --font-title: "bee", sans-serif;
  --font-paragraph: "trade-gothic-next", sans-serif;
  --font-did-you-know: "sunflower", sans-serif;
}

/* Exhibit Nav */
#sub-nav {
  background-color: var(--color-green-light);
  border-bottom: 1px solid var(--color-green-dark);
  font-size: 2vh;
  font-weight: 800;
  line-height: 1.2em;
  width: 100%;
}

#sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

#sub-nav li {
  color: var(--color-white);
  display: inline-block;
  font-family: var(--font-paragraph);
  margin: 0;
  padding: 1.5vw 0.75vw;
  text-transform: uppercase;
  transition: background 1s, color 1s;
  vertical-align: middle;
}

#sub-nav li:hover,
.active li {
  background: var(--color-orange-mid);
  color: var(--color-white);
}

/* End Exhibit Nav */

.Intro {
  background-color: var(--color-white);
  background-image: url("https://static1.squarespace.com/static/5d3cbf70d8a40e00011d021a/t/6235052c96134e7a9e9157db/1647641900663/six-legged-science-header-insects.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: 1px solid var(--color-black);
}

.Intro h1 strong {
  color: var(--color-orange-mid);
}

.Intro h3 {
  font-family: var(--font-did-you-know);
  color: var(--color-red-mid);
  font-size: 5vh;
  text-shadow: 1px 1px 1px var(--color-black);
}

.Intro p {
  font-size: 3vh;
  font-family: var(--font-paragraph);
  color: var(--color-green-dark);
  line-height: 1.2em;
  font-weight: 500;
}

.Intro p strong {
  font-size: 4vh;
  font-weight: 700;
}

.Main-content {
  padding: 0 2% 1% 2%;
  text-rendering: optimizeLegibility;
}

.Main h1,
.Intro h1 {
  color: var(--color-green-dark);
  font-family: var(--font-title);
  font-size: clamp(10rem, 30vw, 20rem);
  letter-spacing: 0;
  line-height: 0.75em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.Main h2 {
  color: var(--color-white);
  background-color: var(--color-green-light);
  font-family: var(--font-paragraph);
  font-size: 5vh;
  padding-left: 0.5em;

}

.Main h3 {
  color: var(--color-white);
  background: var(--color-green-dark);
  font-family: var(--font-did-you-know);
  font-size: 4vh;
  font-weight: bold;
  line-height: 1.5em;
  padding-left: 0.5em;
  position: relative;
  top: 2em;
  z-index: 999;
  transform: rotate(-5deg);
}

.Main p {
  font-family: var(--font-paragraph);
  font-weight: 500;
}

.Main p strong {
  font-weight: 700;
}

.Main blockquote {
  border: none;
  color: var(--color-green-dark);
  background: var(--color-tan);
  font-family: var(--font-title);
  font-size: 2.5vh;
  padding: 2em;
  transform: rotate(-5deg);
}

.Main p strong {
  color: var(--color-green-dark);
}

.Main .image-caption p {
  color: var(--color-black);
  font-size: 1.5vh;
  font-weight: 500;
}

.Main .sqs-block-button-element--medium.sqs-button-element--primary.sqs-block-button-element,
.Main .sqs-block-button-element--small.sqs-button-element--tertiary.sqs-block-button-element {
  border: 2px solid var(--color-green-dark);
  background: var(--color-green-light);
  color: var(--color-green-dark);
  font-family: var(--font-paragraph);
}

.Main .sqs-block-button-element--medium.sqs-button-element--primary.sqs-block-button-element:hover,
.Main .sqs-block-button-element--small.sqs-button-element--tertiary.sqs-block-button-element:hover {
  background: var(--color-green-dark);
  color: var(--color-white);
}