:root {
  --color-black: #000;
  --color-blue: #365bbd;
  --color-green: #05a27a;
  --color-red: #e8644a;
  --color-white: #FFF;
  --color-yellow: #efa202;
}

.Main-content {
  text-rendering: optimizeLegibility;
}

.Main h1,
.Main h2,
a.sqs-block-button-element--medium,
div.image-button-inner a {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
}

.Main h3,
#sub-nav {
  font-family: 'Roboto', sans-serif;
}

.Main p,
.image-slide-title {
  font-family: 'League Spartan', sans-serif;
}

.Main h1 {
  color: var(--color-red);
  font-size: 5em;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1em;
}

.Main h2 {
  color: var(--color-yellow);
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
  line-height: 1em;
}

.Main h3 {
  color: var(--color-blue);
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
}

.Main p,
.image-slide-title {
  color: var(--color-black);
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25em;
}

#sub-nav {
  background-color: var(--color-blue);
  border-bottom: 1px solid var(--color-yellow);
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1em;
  width: 100%;
}

#sub-nav menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

#sub-nav li {
  color: var(--color-white);
  display: inline-block;
  margin: 0;
  padding: 2vw 0.75vw;
  transition: background 1s, color 1s;
  vertical-align: middle;
}

#sub-nav li:hover,
.active li {
  background: var(--color-yellow);
  color: var(--color-white);
}

.Main strong {
  color: var(--color-green) !important;
  font-weight: bold;
}

a.sqs-block-button-element--medium,
div.image-button-inner a {
  background: var(--color-blue) !important;
  border-color: var(--color-green) !important;
  color: var(--color-white) !important;
  font-size: 1em !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

@media screen and (max-width: 930px) {
  #sub-nav li {
    padding: 15px;
  }
}