.Main {
  background: #031379 url(https://paleontological.github.io/online-exhibits/marvelous-mollusks/bkgd_gastro.avif) no-repeat !important;
  background-attachment: fixed !important;
  background-size: 100% !important;
}