:root {
  --background: #000;
  --primary: #fdfdfd;
  --primary-light: #fff;
  --secondary: #a0eef3;
  --secondary-light: #cefefe;
  --heading: #5cc465;
  --strong: #2a3e92;
}

@font-face {
  font-family: 'HanleyPro-Block';
  src: url('https://paleontological.github.io/online-exhibits/marvelous-mollusks/HanleyPro-Block.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Main {
  background: url(https://paleontological.github.io/online-exhibits/marvelous-mollusks/bg-humans.avif) no-repeat !important;
  background-size: cover;
}

.Main-content {
  text-rendering: optimizeLegibility;
  padding-top: 0;
}

.Main h1 {
  color: var(--heading);
  font-family: "HanleyPro-Block", serif !important;
}

.h1-standalone {
  color: var(--primary-light) !important;
  font-size: 15vh;
  line-height: 1em;
  text-shadow: 2px 2px 3px var(--background);
}

.Main h2 {
  color: var(--heading);
  font-family: "HanleyPro-Block", serif !important;
}

.Main h3 {
  color: var(--heading);
  font-family: "HanleyPro-Block", serif !important;
}

.Main .sqs-html-content:not(.image-caption) {
  background: var(--primary);
  border: 2px solid var(--strong);
  border-radius: 20px;
  padding: 2em;
}

.Main strong {
  color: var(--strong);
}

.image-block-outer-wrapper,
.sqs-block-video-placeholder,
.sqs-block-embed,
.sqs-block-gallery,
.video-block {
  background: var(--primary-light);
  border: 2px solid var(--strong);
  border-radius: 20px;
  outline: 1px solid var(--secondary);
  padding: 20px;
}

.image-caption p,
.video-caption p {
  color: var(--background);
  font-style: normal;
  font-weight: 300;
}

div.image-button-inner a,
a.sqs-block-button-element--small,
a.sqs-block-button-element--medium,
a.sqs-block-button-element--large {
  background: var(--heading) !important;
  border-color: var(--strong) !important;
  border-radius: 20px;
  color: var(--primary-light) !important;
  font-family: "HanleyPro-Block", serif !important;
  text-transform: none !important;
}

div.image-button-inner a:hover,
a.sqs-block-button-element--small:hover,
a.sqs-block-button-element--medium:hover,
a.sqs-block-button-element--large:hover {
  background: var(--strong) !important;
}

.Main hr {
  background: var(--heading);
}

#sub-nav {
  background: var(--heading);
  border-radius: 20px;
  border: 2px solid var(--strong);
  font-family: "HanleyPro-Block", serif !important;
  letter-spacing: 0.03em;
  line-height: 1em;
  width: 100%;
}

#sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

#sub-nav li {
  color: var(--primary);
  display: inline-block;
  padding: 2vw 0.5vw;
  transition: background 1s, color 1s;
  vertical-align: middle;
}

#sub-nav li:hover,
.active li {
  color: var(--strong) !important;
}

@media screen and (max-width: 930px) {
  #sub-nav li {
    padding: 15px;
  }
}