:root {
  --background: #000;
  --primary: #a000ff;
  --primary-light: #b463fb;
  --secondary: #a0eef3;
  --secondary-light: #cefefe;
}

@font-face {
  font-family: 'HanleyPro-Block';
  src: url('https://paleontological.github.io/online-exhibits/marvelous-mollusks/HanleyPro-Block.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Main,
.Intro {
  background-color: var(--background) !important;
}

.Main-content {
  text-rendering: optimizeLegibility;
  padding-top: 0;
}

.Intro h1 {
  font-family: "HanleyPro-Block", serif !important;
  font-size: 7em;
  letter-spacing: 0.001em;
  line-height: 1em;
  text-shadow: 4px 3px var(--primary-light);
  -webkit-text-stroke: 0.001em var(--background);
}

.Intro h2 {
  color: var(--primary);
  font-family: "HanleyPro-Block", serif !important;
  font-size: 2em;
  line-height: 1em;
}

.Intro h1,
.Main h1 {
  color: var(--secondary);
  font-family: "HanleyPro-Block", serif !important;
}

.Main h2 {
  color: var(--secondary);
  font-family: "HanleyPro-Block", serif !important;
}

.Main h3,
.summary-title {
  color: var(--secondary);
  font-family: "HanleyPro-Block", serif !important;
}

.Main .sqs-html-content p {
  color: var(--secondary);
  outline: 1px solid var(--primary);
  outline-offset: -10px;
  padding: 20px;
}

.summary-item {
  background: var(--secondary);
  padding: 20px;
}

.summary-title {
  color: var(--primary);
  font-family: "HanleyPro-Block", serif !important;
}

.image-block-outer-wrapper,
.sqs-block-video-placeholder,
.sqs-block-embed,
.sqs-block-gallery {
  outline: 1px solid var(--secondary);
  padding: 20px;
}

.image-caption p,
.video-caption p {
  color: var(--primary-light);
  font-style: normal;
  font-weight: 300;
}

div.image-button-inner a,
a.sqs-block-button-element--small,
a.sqs-block-button-element--medium,
a.sqs-block-button-element--large {
  background: var(--background) !important;
  border-color: var(--primary) !important;
  color: var(--secondary) !important;
  font-family: "HanleyPro-Block", serif !important;
  text-transform: none !important;
}

div.image-button-inner a:hover,
a.sqs-block-button-element--small:hover,
a.sqs-block-button-element--medium:hover,
a.sqs-block-button-element--large:hover {
  background: var(--secondary) !important;
  border-color: var(--primary) !important;
  color: var(--background) !important;
}

.Main hr {
  background: var(--primary);
}

#sub-nav {
  border-bottom: 1px dashed var(--primary);
  font-family: "HanleyPro-Block", serif !important;
  letter-spacing: 0.03em;
  line-height: 1em;
  width: 100%;
}

#sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

#sub-nav li {
  color: var(--primary);
  display: inline-block;
  padding: 2vw 0.5vw;
  transition: background 1s, color 1s;
  vertical-align: middle;
}

#sub-nav li:hover,
.active li {
  color: var(--secondary) !important;
}

@media screen and (max-width: 930px) {
  #sub-nav li {
    padding: 15px;
  }

  .Main {
    background-size: 15%;
    background-position: bottom 1em left 0.25em, top 1em left 0.25em, bottom 1em right 0.25em, top 1em right 0.25em;
  }
}