:root {
  --background: #000;
  --primary: #a000ff;
  --primary-light: #b463fb;
  --secondary: #9d3f8b;
  --secondary-light: #ccffff;
  --heading: #6e3988;
  --strong: #244ca7;
}

@font-face {
  font-family: 'HanleyPro-Block';
  src: url('https://paleontological.github.io/online-exhibits/marvelous-mollusks/HanleyPro-Block.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Railway-Regular';
  src: url('https://paleontological.github.io/online-exhibits/marvelous-mollusks/Railway-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Intro {
  background-color: var(--background) !important;
}

.Intro-content {
  padding-bottom: 1em !important;
  padding-top: 1em !important;
}

.Main {
  background: url(https://paleontological.github.io/online-exhibits/marvelous-mollusks/bg-cephalopods.avif) no-repeat !important;
  background-size: cover;
}

.Main-content {
  text-rendering: optimizeLegibility;
  padding-top: 0;
}

#mm-logo-container {
  display: grid;
  grid-template-columns: 1fr;
}

#mm-logo-container div {
 grid-row-start: 1;
 grid-column-start: 1;
}

#marvelous-mollusks-logo {
  background: url(https://paleontological.github.io/online-exhibits/marvelous-mollusks/marvelous-mollusks-logo.svg) no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  z-index: 999;
  }

#shell-spiral {
  background: url(https://paleontological.github.io/online-exhibits/marvelous-mollusks/shell-spiral.avif) no-repeat;
  background-size: 75vh;
  background-position: center;
  height: 100vh;
  animation: rotation 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.Intro h1 {
  font-family: "HanleyPro-Block", serif !important;
  font-size: 7em;
  letter-spacing: 0.001em;
  line-height: 1em;
  text-shadow: 4px 3px var(--primary-light);
  -webkit-text-stroke: 0.001em var(--background);
}

.Intro h2 {
  color: var(--primary);
  font-family: "HanleyPro-Block", serif !important;
  font-size: 2em;
  line-height: 1em;
}

.Main h1 {
  color: var(--heading);
  font-family: "Railway-Regular", serif;
}

.h1-standalone {
  color: var(--secondary-light) !important;
  font-family: "HanleyPro-Block", serif !important;
  font-size: 15vh;
  line-height: 1em;
  text-shadow: 1px 1px var(--background), 3px 3px var(--primary-light);
}

.Main h2 {
  color: var(--heading);
  font-family: "Railway-Regular", serif !important;
}

.Main h3 {
  color: var(--heading);
  font-family: "Railway-Regular", serif !important;
}

.Main .sqs-html-content:not(.image-caption) {
  background: var(--secondary-light);
  border-radius: 20px;
  padding: 2em;
}

.Main strong {
  color: var(--strong);
}

.image-block-outer-wrapper:not(.animation-loaded),
.sqs-block-video-placeholder,
.sqs-block-embed,
.sqs-block-gallery,
.video-block {
  background: var(--secondary-light);
  border-radius: 20px;
  outline: 1px solid var(--secondary);
  padding: 20px;
}

.image-caption p,
.video-caption p {
  color: var(--background);
  font-style: normal;
  font-weight: 300;
}

div.image-button-inner a,
a.sqs-block-button-element--small,
a.sqs-block-button-element--medium,
a.sqs-block-button-element--large {
  background: var(--secondary-light) !important;
  border-color: var(--strong) !important;
  border-radius: 20px;
  color: var(--heading) !important;
  font-family: "Railway-Regular", serif !important;
  text-transform: none !important;
}

div.image-button-inner a:hover,
a.sqs-block-button-element--small:hover,
a.sqs-block-button-element--medium:hover,
a.sqs-block-button-element--large:hover {
  background: var(--heading) !important;
  color: var(--secondary-light) !important;
}

.Main hr {
  background: var(--primary);
}

#sub-nav {
  background: var(--secondary-light);
  border-radius: 20px;
  font-family: "Railway-Regular", serif !important;
  letter-spacing: 0.03em;
  line-height: 1em;
  width: 100%;
}

#sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

#sub-nav li {
  color: var(--heading);
  display: inline-block;
  padding: 2vw 0.5vw;
  transition: background 1s, color 1s;
  vertical-align: middle;
}

#sub-nav li:hover,
.active li {
  color: var(--strong) !important;
}

@media screen and (max-width: 930px) {
  #sub-nav li {
    padding: 15px;
  }
}