:root {
  --background: #000;
  --primary: #a000ff;
  --primary-light: #b463fb;
  --secondary: #9d3f8b;
  --secondary-light: #ccffff;
  --heading: #6e3988;
  --strong: #244ca7;
  --foreground: #fff;
  --new-blue: #97cfd4;
}

@font-face {
  font-family: 'HanleyPro-Block';
  src: url('https://paleontological.github.io/online-exhibits/marvelous-mollusks/HanleyPro-Block.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Railway-Regular';
  src: url('https://paleontological.github.io/online-exhibits/marvelous-mollusks/Railway-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Intro {
  background-color: var(--background) !important;
}

.Intro-content {
  padding: 0 !important;
}

.Main-content {
  text-rendering: optimizeLegibility;
  padding: 0 !important;
}

#mm-logo-container {
  display: grid;
  grid-template-columns: 1fr;
}

#mm-logo-container div {
  grid-row-start: 1;
  grid-column-start: 1;
}

#marvelous-mollusks-logo {
  background: url(https://paleontological.github.io/online-exhibits/marvelous-mollusks/marvelous-mollusks-logo.svg) no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  z-index: 999;
}

#shell-spiral {
  background: url(https://paleontological.github.io/online-exhibits/marvelous-mollusks/shell-spiral.avif) no-repeat;
  background-size: 75vh;
  background-position: center;
  height: 100vh;
  animation: rotation 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.Intro h1 {
  font-family: "HanleyPro-Block", serif !important;
  font-size: 7em;
  letter-spacing: 0.001em;
  line-height: 1em;
  text-shadow: 4px 3px var(--primary-light);
  -webkit-text-stroke: 0.001em var(--background);
}

.Intro h2 {
  color: var(--primary);
  font-family: "HanleyPro-Block", serif !important;
  font-size: 2em;
  line-height: 1em;
}

.Main h1:not(.h1-standalone) {
  color: var(--heading);
  font-size: 2em;
  font-family: "Railway-Regular", serif;
}

.h1-standalone {
  color: var(--secondary-light) !important;
  font-family: "HanleyPro-Block", serif !important;
  font-size: clamp(3.5rem, 2rem + 4vw, 5rem);
  line-height: 1em;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  text-shadow: 1px 1px var(--background), 3px 3px var(--primary-light);
}

.Main h2 {
  color: var(--heading);
  font-family: "Railway-Regular", serif !important;
}

.Main h3 {
  color: var(--heading);
  font-family: "Railway-Regular", serif !important;
}

.Main .sqs-html-content:not(.image-caption) {
  background: var(--foreground);
  border: 1em solid var(--new-blue);
  border-radius: 20px;
  padding: 2em;
}

.Main strong {
  color: var(--strong);
}

.image-block-outer-wrapper.combination-animation-none,
.sqs-block-video-placeholder,
.sqs-block-embed,
.sqs-block-gallery,
.video-block {
  background: var(--new-blue);
  border-radius: 20px;
  padding: 20px;
}

.image-caption p,
.video-caption p {
  color: var(--background);
  font-style: normal;
  font-weight: 300;
}

div.image-button-inner a,
a.sqs-block-button-element--small,
a.sqs-block-button-element--medium,
a.sqs-block-button-element--large {
  background: var(--secondary-light) !important;
  border-color: var(--strong) !important;
  border-radius: 20px;
  color: var(--heading) !important;
  font-family: "Railway-Regular", serif !important;
  text-transform: none !important;
  margin: 0 2em !important;
}

div.image-button-inner a:hover,
a.sqs-block-button-element--small:hover,
a.sqs-block-button-element--medium:hover,
a.sqs-block-button-element--large:hover {
  background: var(--heading) !important;
  color: var(--secondary-light) !important;
}

.Main hr {
  background: var(--primary);
}

#mm-banner {
  background: var(--background) url(https://paleontological.github.io/online-exhibits/marvelous-mollusks/mm-banner-logo.avif) no-repeat;
  background-size: contain;
  background-position: center;
  height: 20vh;
}

#sub-nav {
  background: var(--secondary-light);
  font-family: "Railway-Regular", serif !important;
  letter-spacing: 0.03em;
  line-height: 1em;
  width: 100%;
  padding: 0.5em 0;
  position: relative;
  z-index: 10;
}

#sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 1vw 0;
}

#sub-nav li {
  border-radius: 30px;
  color: var(--heading);
  padding: 1vw 0.5vw;
  transition: background 1s, color 1s;
  vertical-align: middle;
}

#sub-nav li:hover:not(#hamburger),
li.active {
  color: var(--secondary-light) !important;
  background: var(--primary);
}

#mobile-nav {
  display: none !important;
}

@media screen and (max-width: 949px) {

  #sub-nav li {
    padding: 1.5vh 0;
  }

  #mobile-nav {
    display: block !important;
  }

  #sub-nav ul {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.25vh 0;
  }
}

@media screen and (max-width: 640px) {
  .sqs-layout .sqs-row .sqs-block:first-child {
    padding-top: 0 !important;
  }
}